h1{
    font-size: 50px;
}

p{
    font-size: 30px;
}

h2{
    font-size: 40px ;
}

li{
    font-size: 30px
}
body{
    background-color: gray;
}

.container{
    justify-content: center;
    text-align: center;
}

.contact-info {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.phone {
    font-weight: bold;
}

.email {
    font-style: italic;
}